<nav>
        <h1>Pick a Table to Play</h1>
        <button class ="btn btn-success btn-sm" id ="logout">Logout</button>
</nav>

<div class = "container-table-list">
        <div class = "row justify-content-center mx-lg-n5">
            <table class="tableList table-responsive-md table-bordered table-hover">
                <thead>
                <tr>
                    <div class = "tableHead col-sm-6 py-3 px-lg-5">
                        <th scope="col">Table Number</th>
                    </div>
                    <div class = "tableHead col-sm-6 py-3 px-lg-5">
                        <th scope="col">Number of People at Table</th>
                    </div>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" id = "table1"><a href = "/tableGame.handlebars">1</a></th>
                    <td id ="p1">0/1</td>
                </tr>
                <tr>
                    <th scope="row" id = "table2"><a href = "/tableGame.handlebars">2</a></th>
                    <td id = "p2">0/1</td>
                </tr>