<body>
    <div class = "flex-column justify-space-around container">
        <header class="display-flex justify-space-between align-center p-2">
            <h1>BlaxJax</h1>
        </header>
        <main class="container container-fluid mt-5">
            <div id="wrapper">

              <div id="game-container">
                <div id="dealer-container">
                  <h3>Dealer</h3>
                  <div id="dealer-hand"></div>
                </div>
                <div id="player-container">
                  <h3>Player</h3>
                  <div id="player-hand"></div>
                </div>
                <div id="cash">
                  <div id="balance">Balance: </div>
                  <div id="winnings">Amount Won: </div>
                </div>
              </div>

              <div id="actions">
                <button id="deal" class="btn">Deal</button>
                <button id="hit" class="btn">Hit</button>
                <button id="stand" class="btn">Stand</button>
                <button id="double" class="btn">Double Down</button>
                <button id="split" class="btn">Split</button>
                <button id="insurance" class="btn">Insurance</button>
                <button id="quit" class = "btn">Quit Game?</button>

</body>