<body>
    <div class = "flex-column justify-space-around container">
        <header class="display-flex justify-space-between align-center p-2">
            <h1>BlaxJax</h1>
        </header>
        <main class="container container-fluid mt-5">
            <div id="wrapper">

              <div id="game-container">
                <div id="dealer-container">
                  <h3>Dealer</h3>
                  <div id="dealer-hand"></div>
                </div>
                <div id="player-container">
                  <h3>Player</h3>
                  <div id="player-hand"></div>
                </div>
                <div id="cash">
                  <div id="balance">Balance: </div>
                  <div id="winnings">Amount Won: </div>
                </div>
              </div>

</body>